.dropdown {
  font-weight: bold;
  color: #22c1c3;
  text-align: center;
  margin-top: 2%;
  color: black;
  justify-content: center;
}
.DropdownToggle {
  text-align: right !important;
  width: 35%;
  margin-bottom: 60px;
  background-color: #d1f17c !important;
  color: #22c1c3 !important;
}
.dropdown-menu {
  border-radius: 50px;
  width: 35%;
  position: absolute ;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.dropdown-item {
  background-color: #22c1c3 !important;
  color: #d1f17c !important;
  text-align: center !important;
}
.dropdown-item:hover {
  background-color: #d1f17c !important ;
  color: #22c1c3 !important ;
}
.DropdownToggleClose {
  text-align: right !important;
  background-color: #22c1c3 !important;
  color: #d1f17c !important;
  width: 35% ;
  margin-bottom: 60px;
}
