.dropdown {
  font-weight: bold;
  color: #22c1c3;
  text-align: center;
  margin-top: 2%;
  color: black;
  justify-content: center;
}
.DropdownToggle {
  text-align: left !important;
  width: 35%;
  text-align: center;
  margin-bottom: 60px;
  background-color: #d1f17c !important;
  color: #22c1c3 !important;
}
.dropdown-menu {
  width: 35%;
  position: absolute !important;
  padding-top: 0 !important;
}
.dropdown-item {
  background-color: #22c1c3 !important;
  color: #d1f17c !important;
  text-align: center !important;
}
.dropdown-item:hover {
  background-color: #d1f17c !important;
  color: #22c1c3 !important;
}
.DropdownToggleClose {
  text-align: left !important;
  background-color: #22c1c3 !important;
  color: #d1f17c !important;
  width: 35% !important;
  text-align: center;
  margin-bottom: 60px !important;
  color: black;
}
