body {
  margin: 0;
  font-family: Shabnam;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(45, 194, 192);
  background: linear-gradient(
    8deg,
    rgba(45, 194, 192, 1) 27%,
    rgba(209, 241, 124, 1) 57%
  );
  background-attachment: fixed;
  height: +100%;
  font-family: Shabnam;
}

code {
  font-family: Shabnam;
}
@font-face {
  font-family: "Shabnam";
  src: local("Shabnam"),
    url("./font/shabnam-font-v2.4.0/Shabnam.woff") format("woff"),
    url("./font/shabnam-font-v2.4.0/Shabnam.eot") format("eot"),
    url("./font/shabnam-font-v2.4.0/Shabnam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
